/***************************************
                GENERAL
***************************************/

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

ul li {
  margin: 0;
}

/***************************************
                COLORS
***************************************/
body {
  background-color: white;
  color: #555;
}

header,footer {
  background: #26476E;
}

nav {
    background: #1F3B5C;
}

h1, h2 {
  color: #fff;
}

a {
 color: #6ab47b;
}

.heading a {
  color: #fff;
}

.heading a:hover {
  color: #618AFF;
}

/* nav link */
nav a, nav a:visited {
    color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
    color: #618AFF;
}

/***************************************
                HEADING
***************************************/
header {
  float: left;
  padding: 5px 0 0 0;
  width: 100%;
}

header h2 a {
  text-decoration: none;
}

header h2 {
  margin-bottom: 20px;
}

.heading {
  text-align: center;
}

/* profile photo */
.profile-photo {
  max-width: 150px;
  margin: 0 20px 0px;
  padding: 20px 0 0 0;
  border-radius: 50%;
}

.navigation {
  font-size: 1.2em;
  font-weight: 800;
}

/***************************************
                NAVIGATION
***************************************/

nav {
  margin: 20px 0px 0;
  padding: 10px 0;
  text-align: center;
  color: #777;
}

nav ul {
  list-style: none;
  padding: 10px 0;
}

nav li {
  margin-bottom: 1em;
}

nav li:last-child {
  margin-bottom: 0em;
}

nav a {
  text-decoration: none;
}

/***************************************
                FOOTER
***************************************/

footer {
  color: #fff;
  text-align: center;
}

footer p {
  padding: 20px 0;
}

/***************************************
                CONTENT
***************************************/

.content {
  clear: both;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  padding: 1em;
}

.content h1 {
  color: #444;
  margin: .5em 0;
}

.content ul {
  list-style: none;
}

.content p {
  margin: 1em 0;
  text-align: justify;
}
