/* ICOMOON FONTS */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?o5tamu');
    src:  url('fonts/icomoon.eot?o5tamu#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?o5tamu') format('truetype'),
      url('fonts/icomoon.woff?o5tamu') format('woff'),
      url('fonts/icomoon.svg?o5tamu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gamepad:before {
    content: "\e900";
  }
  .icon-envelope-o:before {
    content: "\e901";
  }
  .icon-home3:before {
    content: "\e902";
  }
  .icon-twitter:before {
    content: "\ea96";
  }  
  /* ICOMOON FONTS */

/* ======================================================================
                    HEADER 
 ====================================================================== */

.header-home {
    padding-top: 2%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.header-home .selfie {
    width: 125px;
    margin-bottom: 25px;
    border-radius: 100%;
    box-shadow: 0;
    opacity: 1;
    transition: all .2s;
}

.header-home .selfie:hover {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18),0 0px 12px 0 rgba(0,0,0,0.15);
    opacity: .8;
}

.header-home .title {
    font-size: 2rem;
    margin: 0 0 13px;
    color: #222;
    font-weight: 700;
}

.header-home .description {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    color: #aaa;
    width: 70%;
    margin: 0 auto 30px;
}

.portfolio-header {
    justify-content: center;
    padding-top: 2%;
}

.description-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: 1.2rem;
    text-align: center;
}

.selfie {
    border-radius: 100%;
    box-shadow: 0;
    opacity: 1;
    transition: all .2s;
}

.selfie:hover {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18),0 0px 12px 0 rgba(0,0,0,0.15);
    opacity: .8;
}

.portfolio-content {
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio-nav, .card-body {
    text-align: center;
}

.portfolio-nav a {
    font-size: 1.5em;
    color: indigo;
    padding: 0 2%;
}

.portfolio-nav a:hover {
    text-decoration: none;
}

.portfolio-nav p {
    padding-top: 5px;
}

.card-info {
    color: brown;
}

.portfolio-item {
    padding-top: 10px;
}

.portfolio-item:not(:first-child) {
    margin-left: 2%;
}

.short-paragraph p {
    text-align: center;
    padding-top: 10px;
}

/* FULL PORTFOLIO */

.project {
    background-color:#ddd;
    margin: 10px;
    padding: 10px;
}

.info {
    color: #999;
}