body {
  background: #1f1f1f;
}

#jogos, #campeonatos {
  padding: 1em;
  background: #1f1f1f;
  color: #f1f1f1;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

h1 {
  padding: 1em 0;
  margin: 0;
}

.thumbnail-sub {
  color: #1f1f1f;
  margin: 10px 0;
}
