.profile-picture {
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {
  .profile-picture {
    max-width: 50%;
    border-radius: 50%;
    margin: 10px auto;
  }
}

body {
  text-align: justify;
}

ul {
  list-style: none;
}

.container {
  margin-top: 5%;
}

.nav-button {
  margin-top: 10px;
  width: 100%;
}
