/*
=============================================================================
 FONTES
=============================================================================
*/
@font-face {
  font-family: 'SuperMarioFont';
  src:url('fonts/Super-Mario-World.ttf');
}

/*
=============================================================================
 LAYOUT
=============================================================================
*/

.container {
  padding: 0 20px 0 20px;
  position: relative;
}

/*
=============================================================================
 HEADER
=============================================================================
*/
header h1 {
  font-family: 'SuperMarioFont', Times, serif;
  margin: 0 .25em;
  padding
}

header .jumbotron {
  margin: 0;
}

/*
=============================================================================
 NAVEGACAO
=============================================================================
*/

.navegacao {
  margin: 0 1.5em;
}

/*
=============================================================================
 CONTEUDO
=============================================================================
*/

.conteudo {
  padding: 0 2.5em;
}

/*
=============================================================================
 FOOTER
=============================================================================
*/

footer{
	padding: 0 2.5em;
	background-color:white;
  margin: auto;
}

.metade {
  width: 50%;
  float: left;
  padding-bottom: 2em;
}

footer img {
  margin: 0 20px 0 0;
}

.comppet, .petsi {
  width: 6em;
}
.comppet, .facom {
  padding-bottom: 0.5em;
}

.facom {
  width: 4em;
}

.ufu {
  padding-bottom: 1em;
  height: 3em;
  width: 8em;
}
