/* ------------------------------------ CSS RESET  ----------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------ END CSS RESET  ----------------------------------------- */

/* ------------------------------------ HEADER AND FOOTER  ----------------------------------------- */
header, footer {
  background-color: #002769;
  color: white;
  text-align: center;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 1em;
  text-shadow: 3px 3px 3px #ff0000;
}

header nav ul, footer nav ul {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0em 0em;
}

header nav ul li a, footer nav ul li a {
	color: red;
  display: block;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid black;
}

header nav ul a:hover, footer nav ul a:hover {
  background: rgba(255, 0, 0, 0.5);
}

header nav ul a:visited, footer nav ul a:visited {
  color: red;
}

footer p {
  padding: 1em;
}
/* ---------------------------------- END HEADER AND FOOTER  --------------------------------------- */

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ---------------------------------- SECOND  --------------------------------------- */
.second, .fourth {
  background-image: url("images/stock.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.second article, .fourth article {
  color: black;
  background-color: rgba(255,255,255,0.90);
  width: 80vw;
  margin: 2em 0em;
  padding: 0.5em;
  line-height: 1.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.second article h1, .fourth article h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}

.second article h1 img, .fourth article h1 img{
    display: block;
    width: 5em;
    height: 5em;
    margin: 0.5em auto;
}

.second article img, .fourth article img{
    margin: 0;
    width: 100%;
    box-shadow: 4px 2px 6px #333;
}

.second article p, .fourth article p {
  margin: 1em;
  font-size: 1em;
  text-align: justify;
  text-justify: distribute;
  color: #444;
}
/* --------------------------------- END SECOND  ------------------------------------- */

/* ---------------------------------- THIRD  --------------------------------------- */
.third {
  background-image: url("images/stock2.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.third h1 {
  color: white;
  width: 100vw;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  text-shadow: -3px 3px 3px #ff0000;
}

/* ---------------------------------- GALERIA  --------------------------------------- */
.gallery {
  width: 80vw;
  margin: 2em 0em;
  box-shadow: 0.5em 0.5em 1em #fff;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.gallery img {
  margin: 1em 0em;
  width: 100%;
  box-shadow: 4px 2px 6px #fff;
}
/* -------------------------------- FIM GALERIA  -------------------------------------- */
/* -------------------------------- FIM THIRD  ---------------------------------------- */

.fourth {
  background-image: url("images/tt2.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-
}

/* ------------------------------------ MEDIA QUERY  ----------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
header nav ul, footer nav ul {
    display: flex;
    flex-flow: row;
    jusify-content: space-around;
  }

header nav ul li, footer nav ul li {
  width: 100%;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 3px solid red;
}

header nav ul li:last-child, footer nav ul li:last-child {
  border-right: none;
}

}

@media only screen and (min-device-width: 1024px) {
  header nav ul, footer nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  header nav ul li, footer nav ul li {
    width: 100%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-right: 3px solid red;
  }

  header nav ul li:last-child, footer nav ul li:last-child {
    border-right: none;
  }

  .second article, .fourth article {
    width: 45vw;
    margin: 2em 1em;
  }

  .third {
    justify-content: space-between;
  }

  .gallery {
    width: 95vw;
    flex-direction: row;
    justify-content: center;
  }

  .gallery img {
    width: 30%;
    height: 30%;
    margin: 0.5em;
  }
}
