/* ICOMOON FONTS */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?yy09k4');
    src:  url('fonts/icomoon.eot?yy09k4#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?yy09k4') format('truetype'),
      url('fonts/icomoon.woff?yy09k4') format('woff'),
      url('fonts/icomoon.svg?yy09k4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-gamepad:before {
    content: "\e902";
  }
  
  .icon-envelope-o:before {
    content: "\e901";
  }
  .icon-github-alt:before {
    content: "\e900";
  }
  .icon-twitter:before {
    content: "\ea96";
  }

  /* MY CSS */
  

body {
    background: #fafafa;
    line-height: 1;
    font: 16px, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    margin: 0;
    display:block;
}

a {
    color: indigo;
    text-decoration: none;
}

.wrapper {
    max-width: 560px;
    height: 100%;
    width: 96%;
    margin: 0 auto;
}

.page {
    margin-top: 100px;
}

.portfolio-page {
    margin-top: 25px;
}

.portfolio-page {
    display:inline;
    flex:row;
}

.header-home {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.nav-home {
    margin-top: 40px;
    text-align: center;
}

.list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: block;
}

.item {
    display: inline-block;
    line-height: 2.4rem;
}

img {
    max-width: 100%;
}

/* HEADER */
.header-home .selfie {
    width: 125px;
    margin-bottom: 25px;
    border-radius: 100%;
    box-shadow: 0;
    opacity: 1;
    transition: all .2s;
}

.header-home .selfie:hover {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18),0 0px 12px 0 rgba(0,0,0,0.15);
    opacity: .8;
}

.header-home .title {
    font-size: 2rem;
    margin: 0 0 13px;
    color: #222;
    font-weight: 700;
}

.header-home .description {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    color: #aaa;
    width: 70%;
    margin: 0 auto 30px;
}

.social-links .link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-size: 1.5rem;
}

/* NAV */
.nav-home .link {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 7px 15px;
    margin: 0;
    width: 70px;
    text-decoration: none;
}


/* FOOTER */
.footer-home {
    border-top: 1px solid #aaa;
    color: #666;
    font-weight: 500;
    padding-top: 30px;
    margin-top: 30px;
    font-size: .8rem;
    text-align: center;
    letter-spacing: .4px;
}