@font-face {
  font-family: "Belwe Medium";
  src: ("assets/fonts/OPTIBelwe-Medium.otf");
}

.row {
  max-width: 100%;
  margin: 0;
  padding: 10px;
}

.content {
  font-family: "Belwe Medium", Verdana;
  background: #6A84B2;
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 600px;
  border: 2px solid #ccc;
}

.content img {
  max-width: 100%;
}

.streamer, .status {
  height: 50px;
}

.streamer {
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 10px;
}

.status {
  /*
    WTF I LOVE FLEXBOX NOW
  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0;
  color: #333;
}

.streamerImg {
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

.online, .offline {
  border: 1px solid #ccc;
}

.online {
  background: #007F22;
  color: #eee;
}

.offline {
  background: #888;
  color: white;
}

a {
  text-decoration: none;
  color: #003C7F;
}

a:visited {
  color: #032940;
}
